{% extends 'base.html' %}
{% block title %}О кинотеатре - Кинотеатр МИР{% endblock %}
{% block content %}
<div class="container">
    <h1 class="mt-4">О кинотеатре</h1>
    <p>Кинотеатр “МИР” является первым цифровым кинотеатром в городе Ош. Кинотеатр оснащен самым современным кинопроекционным оборудованием в индустрии от мирового лидера систем визуализации Christie (Канада), звуком от Dolby Digital (США). Все залы максимально удобны, с увеличенной шириной проходов между рядами кресел. Кресла для каждого зала приобретены у одного из лучших мировых производителей. Киноэкраны демонстрируют высокие характеристики качества изображения: широкие углы обзора, контрастность и яркость изображения. Благодаря функциональным и комфортабельным креслам, каждый зритель имеет возможность полностью погрузиться в мир кино.</p>
    <p>Кинотеатр “МИР” имеет в своем распоряжении 6 кинозалов: 1 Зал – 275 мест, 2 Зал – 148 мест и 4 зала для показа отечественных фильмов. В обоих больших залах есть возможность показа фильмов в 3D формате. В кинобаре гостям предлагается большой выбор напитков, десертов, закусок и попкорна. Скоротать время перед сеансом можно в уютной атмосфере на удобных диванах, расположенных в фойе кинотеатра. На территории кинотеатра работает кафе Этно. Меню кафе состоит из блюд международной кухни.</p>
    
    <h2 class="mt-5">Фотографии кинотеатра</h2>
    <div class="row">
        {% for photo in photos %}
            <div class="col-md-4 mb-4">
                <div class="photo-card">
                    {% if photo.image %}
                        <img src="{{ photo.image.url }}" class="img-fluid" alt="{{ photo.caption|default:'Фото кинотеатра' }}">
                    {% else %}
                        <img src="[invalid url, do not cite] class="img-fluid" alt="Фото кинотеатра">
                    {% endif %}
                    {% if photo.caption %}
                        <p class="photo-caption">{{ photo.caption }}</p>
                    {% endif %}
                </div>
            </div>
        {% empty %}
            <p>Фотографии пока отсутствуют.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}